<div class="page-tab">
    <div class="page-content">
        {% block windowContent %}{% endblock%}
    </div>
    <div class="page-edge">
        <span>{% block windowTitle %}{% endblock %}</span>
    </div>
</div>