<div class="page-tab" data-tab={% block tabVar %}{% endblock%}>
    <div class="page-content">
        {% block tabContent %}{% endblock%}
    </div>
    <div class="page-edge">
        <div class="edge-cluster">{% block tabIcon %}{% endblock %}<span>{% block tabTitle %}{% endblock %}</span></div>
    </div>
</div>