{% set varName %}
{% block tabVar %}{% endblock%}
{% endset %}

<div class="page-tab" data-page={{ varName }}>
    <div class="page-content">
        {% block tabContent %}{% endblock%}
    </div>
    <div class="page-edge" data-tab={{ varName }}>
        <div class="edge-cluster">{% block tabIcon %}{% endblock %}<span>{% block tabTitle %}{% endblock %}</span></div>
    </div>
</div>