---
layout: mainframe.njk
title: Greg Morris
---
{% extends "partials/mainframe-screen.njk" %}
    
{% block pageContent %}
    <div class="text-content typed-content">
        <h1 class="type">{{ about.heading }}</h1>
    </div>
    <div class="text-content typed-content">
        <p class="type">{{ about.subheading }}</p>
    </div>
    <div class="text-content typed-content">
        <p class="type">{{ about.description }}</p>
    </div>
{% endblock %}



{% block topRightContent %}
    {# <p>TOP RIGHT</p> #}
{% endblock %}
{% block centerRightContent %}
    {# <p>center RIGHT</p> #}
{% endblock %}
{% block bottomRightContent %}
    {# <p>Bottom RIGHT</p> #}
{% endblock %}