---
layout: mainframe.njk
title: Greg Morris
---
{% extends "partials/mainframe-screen.njk" %}
    
{% block pageContent %}
    <div class="text-content typed-content">
        <h1 class="type">TEST.</h1>
    </div>
    <div class="text-content typed-content">
        <p class="type">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin nulla in nulla suscipit semper. Fusce finibus luctus molestie.</p>
    </div>
    <div class="text-content typed-content">
        <p class="type">Etiam vitae mollis neque. Donec in mollis orci. Mauris cursus arcu a eros rhoncus, et bibendum augue interdum. Duis vitae velit felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
    </div>
{% endblock %}



{% block topRightContent %}
    <p>TOP RIGHT</p>
{% endblock %}
{% block centerRightContent %}
    <p>center RIGHT</p>
{% endblock %}
{% block bottomRightContent %}
    <p>Bottom RIGHT</p>
{% endblock %}