{% extends "partials/modern-tab.njk" %}
{% block windowTitle %}
{{ portfolio.title }}
{% endblock %}
{% block windowIcon %}
{% endblock %}
{% block windowContent %}
<h1>{{ portfolio.heading }}</h1>
{% endblock %}