{% extends "partials/modern-tab.njk" %}

{% block tabTitle %}
{{ portfolio.title }}
{% endblock %}

{% block tabVar %}
{{portfolio.var}}
{% endblock %}

{% block tabIcon %}
{% svgIcon "_site/images/icons/work.svg" %}
{% endblock %}

{% block tabContent %}
    <h1>{{ portfolio.heading }}</h1>
{% endblock %}