{% extends "partials/window.njk" %}
{% block windowTitle %}
{{ about.title }}
{% endblock %}
{% block windowIcon %}
<img class="win-icon" src="images/95Logo.png"/>
{% endblock %}
{% block windowContent %}
<div class="text-pane">
    <h1>{{ about.heading }}</h1>
    <p>{{ about.subheading }}</p>
</div>
{% endblock %}