---
title: About Me
---
{% extends "partials/window.njk" %}
{% block windowIcon %}
<img class="win-icon" src="images/95Logo.png"/>
{% endblock %}
{% block windowContent %}
<h1>This is some text from Greg!</h1>
{% endblock %}