{% extends "partials/modern-tab.njk" %}
{% block windowTitle %}
Links
{% endblock %}
{% block windowIcon %}
<img class="win-icon" src="images/95Logo.png"/>
{% endblock %}
{% block windowContent %}
<div class="page-wrapper">
    <h1>these are some links</h1>
</div>
{% endblock %}