{% extends "partials/modern-tab.njk" %}
{% block windowTitle %}
{{ about.title }}
{% endblock %}
{% block windowContent %}
<div class="intro-block">
    <h1 class="super-size">{{ about.heading }}</h1>
    <h5 class="super-size">{{ about.subheading }}</h5>
</div>
{% endblock %}