{% extends "partials/window.njk" %}
{% block windowTitle %}
readme.txt
{% endblock %}
{% block windowContent %}
<div class="text-pane">
    <p>Welcome to my corner of the internet, please pardon the dust while I'm rebuilding the site!</p>
    <p> - Greg</p>
</div>
{% endblock %}