---
layout: windows.njk
title: Greg Morris
---
<div class="desktop">
    {% for page in navigation.pages %}
        <button class="desktop-icon" data-target="{{page.var}}-window">
            <img class="desktop-icon-img" src="{{page.iconWindows}}"/>
            <p>{{page.title}}</p>
        </button>
    {% endfor %}
    <button class="desktop-icon" data-target="links-window">
        <img class="desktop-icon-img" src="images/links.png"/>
        <p>Links</p>
    </button>
    <button class="desktop-icon" data-target="readme-window">
        <img class="desktop-icon-img" src="images/readme.png"/>
        <p>readme.txt</p>
    </button>
</div>
{% asyncEach page in navigation.pages %}
    <div id="{{page.var}}-window" class="window">
        {% include "./content/windows-"+page.var+".njk" %}
    </div>
{% endeach %}
<div id="links-window" class="window">
    {% include "./content/windows-links.njk" %}
</div>
<div id="readme-window" class="window">
    {% include "./content/windows-readme.njk" %}
</div>
<div id="task-bar">
    <nav id="start-menu">
        <div class="sidebar">
            <span class="large">Greg </span>
            <span class="small">Morris</span>
        </div>
        <div class="main-menu">
            <ul class="menu-list">
                {% for page in navigation.pages %}
                    <li>
                        <button href="#" data-target="{{page.var}}-window">
                            <img class="start-icon" src="{{page.iconWindows}}"/>
                            <span>{{page.title}}</span>
                        </button>
                    </li>
                {% endfor %}
                <li class="has-menu">
                    <button href="#" data-target="links-window">
                        <img class="start-icon" src="images/links.png"/>
                        <span>Links</span>
                        {% svgIcon "_site/images/icons/angle-right.svg" %}
                    </button>
                    <ul class="sub-menu">
                        {% for link in navigation.links %}
                            <li><a href="{{link.url}}"><img class="win-icon" src="{{link.iconWindows}}"/><span>{{ link.title }}<span></a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <button id="start-button"><img class="win-icon" src="/images/95Logo.png"/>Start</button>
    <div id="clock"></div>
</div>