---
layout: mainframe.njk
title: Greg Morris
---

<div class="display">
    <div class="main-content">
        <div class="nav-menu">
            <ul>
                <li>
                    <span class="super-size">Portfolio</span>
                    <ul>
                        {% for nav in navigation.pages %}
                            <li><a href="/mainframe{{ nav.url }}">{{ nav.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <span class="super-size">Links</span>
                    <ul>
                        {% for nav in navigation.links %}
                            <li><a href="/mainframe{{ nav.url }}">{{ nav.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="text-content typed-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin nulla in nulla suscipit semper. Fusce finibus luctus molestie. Donec ullamcorper dui lectus, at consectetur metus fringilla ut. Donec tristique dui sit amet diam ultricies, eu viverra mauris vulputate. Suspendisse potenti. Morbi dapibus accumsan mauris, sagittis eleifend augue. Etiam dapibus finibus nisl, at rhoncus lorem lobortis ac. Nunc varius et nunc in luctus. Integer sed hendrerit nisi. Ut nibh massa, cursus quis orci nec, fringilla sodales magna. Praesent iaculis, sapien vel volutpat consectetur, odio neque blandit sapien, eget faucibus neque purus eu nibh. Nunc ex lacus, egestas sed luctus quis, porttitor vel leo. Etiam ac purus ut neque cursus convallis.</p>
            <span class="typed-target"></span>
        </div>
        <div class="text-content typed-content">
            <p>Etiam vitae mollis neque. Donec in mollis orci. Mauris cursus arcu a eros rhoncus, et bibendum augue interdum. Duis vitae velit felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ac dapibus elit. Nullam ut mauris nec nibh hendrerit pulvinar. Pellentesque rutrum justo sit amet ipsum fringilla fermentum. In hac habitasse platea dictumst. Vivamus lobortis posuere lacus id sodales. Nunc tortor ante, dictum et bibendum sit amet, volutpat tempus est. Nullam pharetra neque ac iaculis finibus. Donec lobortis, massa ut sollicitudin elementum, arcu dolor rutrum mi, consectetur rhoncus dui magna ac libero. Aliquam dapibus massa nec velit consectetur bibendum. Mauris lectus est, lobortis eu nisi sed, dapibus scelerisque neque. Suspendisse potenti.</p>
            <span class="typed-target"></span>
        </div>
    </div>
    <div class="top-right">
        <div class="title-bar">
            <h4>Top Right</h3>
        </div>
        <div class="box-content">
            <p>TOP RIGHT</p>
        </div>
    </div>
    <div class="center-right">
        <div class="title-bar">
            <h4>center Right</h3>
        </div>
        <div class="box-content">
            <p>center RIGHT</p>
        </div>
    </div>
    <div class="bottom-right">
        <div class="title-bar">
            <h4>Bottom Right</h3>
        </div>
        <div class="box-content">
            <p>Bottom RIGHT</p>
        </div>
    </div>
</div>