---
layout: modern.njk
title: Greg Morris
---
{% for nav in navigation.pages %}
    {% include "./content/modern-"+nav.var+".njk" %}
{% endfor %}
{% include "./content/modern-links.njk" %}
<div class="backdrop">
    <h1 class="super-size">
        A more modern approach...
    </h1>
</div>
<div class="mobile-navs">
    {% for nav in navigation.pages %}
        <div class="mobile-tab" data-mobile={{nav.var }}>
            <span>{{nav.title}}</span>
        </div>
    {% endfor %}
    <div class="mobile-tab" data-mobile="links">
        <span>Links</span>
    </div>
</div>