@use './variables.scss' as *;

@font-face {
	font-family: 'W95';
	src: url('/fonts/w95fa.woff2') format('woff2'),
    url('/fonts/w95fa.woff') format('woff'),
	url('/fonts/w95fa.otf') format('otf');
	font-display: swap;
}

@font-face {
	font-family: 'SpaceMono';
	src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'SpaceMono';
	src: url('/fonts/SpaceMono-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'SpaceMono';
	src: url('/fonts/SpaceMono-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: 'SpaceMono';
	src: url('/fonts/SpaceMono-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal; /* See note below */
    font-weight: 400 900;
    src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype supports variations'),
    url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype-variations');
  }

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    * {
        font-size: 1.6rem;
        line-height: 1.1;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    h1 {
        font-size: 3.4rem;
        &.super-size {
            font-size: 6.8rem;
        }
    }
    h2 {
        font-size: 3rem;
        &.super-size {
            font-size: 6rem;
        }
    }
    h3{
        font-size: 2.6rem;
        &.super-size {
            font-size: 5.2rem;
        }
    } 
    h4{
        font-size: 2.2rem;
        &.super-size {
            font-size: 4.4rem;
        }
    } 
    h5{
        font-size: 1.8rem;
        &.super-size {
            font-size: 3.6rem;
        }
    } 
    p, a {
        font-weight: 500;
        &.super-size {
            font-size: 3.2rem;
        }
    }
    a {
        text-decoration: none;
    }
    span.super-size {
        font-size: 1.5em;
        font-weight: bold;
    }
    button {
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        border: none;
    }
    ul {
        list-style-type: none;
    }
    @media (max-width: 768px) {
        h1 {
            text-align: center;
            font-size: 2.4rem;
            &.super-size {
                font-size: 2.4rem;
            }
        }
        text-align: center;
        h2 {
            &.super-size {
                font-size: 3rem;
            }
        }
        h3{
            text-align: center;
            &.super-size {
                font-size: 2.6rem;
            }
        } 
        text-align: center;
        h4{
            &.super-size {
                font-size: 2.2rem;
            }
        } 
        text-align: center;
        h5{
            &.super-size {
                font-size: 1.8rem;
            }
        } 
        p, a {
            font-weight: 500;
            &.super-size {
                font-size: 1.6rem;
            }
        }
    }
}    