@use './variables.scss' as *;

.modern {
	font-family: 'SpaceMono', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background: rgb(0,0,0);
    background: radial-gradient(circle at left top, rgba(#040615,1) 0%, rgba(#040615,1) 75%, rgba($blue,1) 100%);
    color: #fff;
    a {
        color: #fff;
        &:visited {
            color: #fff;
        }
    }
    .page-tab {
        height: 100vh;
        display: flex;
        position: fixed;
        inset: 0 0 0 0;
        align-items: flex-start;
        transition: $transition-std;
        transition-duration: 0.75s;
        transform: translateX(calc(-100% + 42px));
        pointer-events: none;
        filter: drop-shadow(0px 0px 10px #203e76);
        width: 100dvw;
        z-index: 2;
        .page-edge {
            border: 2px solid $blue;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-left: 2px solid transparent;
            padding: 10px;
            position: relative;
            margin: 5px 0;
            z-index: 1;
            background: rgba( 102, 67, 204, 0.25 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            pointer-events: all;
            min-height: 200px;
            cursor: pointer;
            .edge-cluster {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                svg {
                    path {
                        fill: #fff;
                    }
                }
                span {
                    writing-mode: vertical-lr;
                    transform: translateY(5px);
                }
            }
        }
        .page-content {
            position: relative;
            background-color: #000;
            z-index: 0;
            flex-grow: 1;
            height: calc(100% - 60px);
            background: rgba( 102, 67, 204, 0.25 );
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            padding: 30px  30px 30px 72px;
            border-left: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: calc(100% - 102px);
            width: calc(100% - 102px);
            overflow: hidden;
            .page-wrapper {
                padding: 0;
                max-width: 0;
                opacity: 0;
                border-radius: 40px;
                background: #1e293b;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 30px;
                transition: $transition-std;
                max-height: calc(100% - 60PX);
                .seperator {
                    height: 90%;
                    width: 1px;
                    background-color: rgba( 255, 255, 255, 0.18 );
                    &.horizontal {
                        width: 90%;
                        height: 1px;
                        margin: 0 5%;
                    }
                }
                .links-menu {
                    ul {
                        margin-top: 40px;
                        li:not(:last-of-type) {
                            margin-bottom: 20px;
                        }
                    }
                }
                .slider-display {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 20px;
                    .project-list {
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        li {
                            cursor: pointer;
                        }
                    }
                    h1 {
                        flex-basis: 100%;
                    }
                    .slider-section {
                        flex-basis: calc(70% - 40px);
                        max-width: calc(70% - 40px);
                        padding-bottom: 30px;
                        margin: 0 auto;
                        .project {
                            display: none;
                            position: relative;
                            .folio-list {
                                .folio-slide {
                                    max-width: 100%;
                                    figure {
                                        max-width: 100%;
                                        aspect-ratio: 16 / 9;
                                        img {
                                            object-fit: contain;
                                            width: 100%;
                                            max-height: 100%;
                                            margin-bottom: 20px;
                                        }
                                        figcaption {
                                            text-align: center;
    
                                        }
                                    }
                                }
                            }
                            .splide__arrows {
                                position: absolute;
                                width: 100%;
                                bottom: -15px;
                            }
                            .splide__pagination {
                                position: absolute;
                                bottom: -25px;
                            }
                            &.active {
                                display: block;
                            }
                        }
                    }
                }
            }
            .flyout {
                position: absolute;
                opacity: 0;
                z-index: -1;
                width: 20vw;
                max-width: 400px;
                min-width: 200px;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                transition: $transition-std;
                border-top-left-radius: 40px;
                border-bottom-left-radius: 40px;
                background: rgba( #000, 0.5 );
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                border-right: none;
                padding: 40px;
                pointer-events: none;
                .flyout-details {
                    position: absolute;
                    transition: $transition-std;
                    // top: 40px;
                    // left: 40px;
                    // right: 40px;
                    // bottom: 0;
                    opacity: 0;
                    pointer-events: none;
                    flex-direction: column;
                    gap: 20px;
                    display: none;
                    &.active {
                        display: flex;
                        position: relative;
                        opacity: 1;
                        pointer-events: all;
                    }
                }
                &.open {
                    opacity: 1;
                }
            }
        }
        &.open {
            transform: translateX(-5px);
            pointer-events: all;
            z-index: 1;
            &:before {
                pointer-events: none;
            }
            .page-content {
                .page-wrapper {
                    opacity: 1;
                    padding: 40px;
                    max-width: calc(80% - 60px);
                }
            }
        }
        &:first-of-type {
            .page-edge {
                margin-top: 0;
            }
        }
        &:last-of-type {
            .page-edge {
                margin-bottom: 0;
            }
        }
    }
    .backdrop {
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $transition-std;
        h1 {
            max-width: 80dvw;
            padding: 40px;
            border-radius: 40px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
    }
    &:has(.page-tab.open) {
        .backdrop {
            filter: blur(40px);
        }
    }
    .mobile-navs {
        display: none;
        position: fixed;
        flex-wrap: wrap;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99999;
        .mobile-tab {
            border: 2px solid $blue;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom: 2px solid transparent;
            padding: 10px;
            position: relative;
            margin: 5px 0;
            z-index: 1;
            background: rgba( 102, 67, 204, 0.25 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            pointer-events: all;
            cursor: pointer;
            flex-grow: 1;
            max-width: 200px;
        }
    }
    @media (max-width: 1024px) {
        .mobile-navs {
            display: flex;
        }
        .backdrop {
            h1 {
                max-width: 50dvw;
            }
        }
        .page-tab {
            flex-direction: column-reverse;
            transform: translateY(100%);
            .page-edge {
                display: none;
                .edge-cluster {
                    flex-direction: row;
                    span {
                        writing-mode: lr;
                        transform: none;
                    }
                }
            }
            .page-content {
                padding: 30px 30px 70px 30px;
                max-width: calc(100% - 60px);
                    width: calc(100% - 60px);
                .page-wrapper {
                    .slider-display {
                        flex-direction: column;
                        flex-wrap: nowrap;
                        .seperator {
                            width: 90%;
                            height: 1px;
                        }
                        .slider-section {
                            width: 100%;
                            max-width: 100%;
                            flex-basis: auto;
                            .project {
                                .folio-list {
                                    .folio-slide {
                                        figure {
                                            figcaption {
                                                max-height: 200%;
                                                overflow-y: auto;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .flyout {
                    display: none;
                }
            }
            &.open {
                transform: none;
                .page-content {
                    max-width: calc(100% - 60px);
                    width: calc(100% - 60px);
                }
            }
        }
    }
}
