$transition-std: all 0.2s ease-in-out, display 0s allow-discrete;

$vapor-pink: #ff71ce;
$vapor-blue: #01cdfe;
$vapor-green: #05ffa1;
$vapor-purple: #b967ff;
$vapor-yellow: #fffb96;
$vapor-pink-pastel: #ffcfea;
$vapor-blue-pastel: #afe9ff;
$vapor-green-pastel: #cbffe6;
$vapor-purple-pastel: #bfb9ff;
$vapor-yellow-pastel: #feffbe;

//Windows

$win-desktop: #018281;
$win-menu: #c0c0c0;
$win-menu-dark: #808080;
$win-blue: #000080;


//Modern

$blue: #203e76;